<!-- Config file for the game -->

<config>
  <app>
    <title>Bouncy Slime</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <collision>
  </collision>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <level name="map1.tmx"/>
    <level name="map2.tmx"/>
    <level name="intro.tmx"/>

    <music path="audio/music/loop.ogg"/>
  </map>

  <player>    
      <path>textures/player</path>
      <image>sprite.png</image>
    <animations>
      <animation name ="idle">
        <sprite x ="13" y ="8" w ="36" h="36" frames ="5" pivotx ="20" pivoty="20"/>
        <sprite x ="53" y ="8" w ="36" h="36" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="93" y ="8" w ="36" h="36" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="134" y ="8" w ="36" h="36" frames ="5" pivotx ="20" pivoty="20"/>
        <sprite x ="174" y ="8" w ="36" h="36" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="216" y ="8" w ="36" h="36" frames ="5" pivotx ="20" pivoty="20"/>
        <sprite x ="256" y ="8" w ="36" h="36" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="297" y ="8" w ="36" h="36" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="337" y ="8" w ="36" h="36" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="378" y ="8" w ="36" h="36" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="419" y ="8" w ="36" h="36" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="460" y ="8" w ="36" h="36" frames ="5"  pivotx ="20" pivoty="20"/>
      </animation>
      <animation name ="run">
        <sprite x ="30" y ="73" w ="33" h="37" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="72" y ="75" w ="34" h="36" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="115" y ="75" w ="34" h="38" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="158" y ="75" w ="36" h="38" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="200" y ="75" w ="34" h="39" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="242" y ="75" w ="34" h="38" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="283" y ="74" w ="34" h="38" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="329" y ="  75" w ="41" h="38" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="378" y ="73" w ="46" h="36" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="433" y ="73" w ="50  " h="36" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="61" y ="123" w ="49" h="38" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="122" y ="123" w ="49" h="39" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="178" y ="123" w ="46" h="39" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="232" y ="124" w ="40" h="40" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="282" y ="123" w ="35" h="40" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="325" y ="123" w ="33" h="39" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="368" y ="122" w ="33" h="38" frames ="5"  pivotx ="20" pivoty="20"/>
        <sprite x ="409" y ="121" w ="36" h="36" frames ="5"  pivotx ="20" pivoty="20"/>
      </animation>
      <animation name ="jump">
        <sprite x ="90" y ="193" w ="34" h="39" frames ="5"  pivotx ="20" pivoty="20"/>
      </animation>
      <animation name ="wall">
        <sprite x ="177" y ="191" w ="36" h="43" frames ="1"  pivotx ="20" pivoty="20"/>
      </animation>
      <animation name ="fall">
        <sprite x ="31" y ="193" w ="39" h="40" frames ="1"  pivotx ="20" pivoty="20"/>
      </animation>
    </animations>
    <fx>
      <jump path="audio/fx/jump.wav"/>
      <death path="audio/fx/death.wav"/>
      <land path="audio/fx/land.wav"/>
      <win path="audio/fx/win.wav"/>
      <bounce path="audio/fx/bounce.wav"/>
    </fx>
    </player>

</config>
